<div class="backgroung-img">

  <img class="logo" src="assets/logo.png">
  <img class="im" src="assets/top_bg.png">


  <div class="conact">
    <img class="phone" src="assets/phone_icon.png">
    <h1 class="phone-number">987-654-3210</h1>
  </div>


  <div class="mail-id">
    <img class="mail-icon" src="assets/mail_icon.png">
    <h1 class="maili-i">demo@gmail.com </h1>
  </div>

  <img class="search" src="assets/search_icon.png">
  <img class="menu-button" src="assets/menu_icon.png">

  <div class="heading">
    <h2 class="first-heading">WELCOME</h2>

    <h1 class="secound-heading">AVALON</h1>

    <p class="pra">It is a long established fact that a reader will be distracted by the readable content of a page when
      looking at its layout.</p>
  </div>
  <img class="car" src="assets/slider_1.png">

  <button class="submit book">Book Now</button>
  <button class="submit abo">About Us</button>
  <button class="submit a1">Read more</button>
  <button class="submit a2">See more</button>
  <button class="submit a3">Read more</button>

</div>




<div class="about">
  <h1 class="abt">About us</h1>
  <p class="abt-con">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod..</p>

  <img class="about-car" src="assets/about_us.png">

</div>

<div class="our-cars">
  <img class="our-car" src="assets/about_us_2.png">
  <h1 class="our-heading">our cars</h1>
  <p class="our-con">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod..</p>
</div>

<div class="backg">
  <img class="back" src="assets/cross_blue.png">

  <div class="head-h">

    <h1 class="heading-choose">Why Choose Us</h1>

    <div class="all-img">
      <div class="one">
        <img class="first-img" src="assets/c1_icon.png">
        <h1>FINANCING MADE EASY</h1>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
      </div>

      <div class="two">
        <img class="secound-img" src="assets/c2_icon.png">
        <h1>WIDE RANGE OF BRANDS</h1>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
      </div>

      <div class="three">
        <img class="third-img" src="assets/c3_icon.png">
        <h1>TRUSTED BY THOUSANDS</h1>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
      </div>
      <div class="back-design-2">
        <div class="heading-1 eee">
          <p>Testimonials</p>

          <div class="white-box">

            <img class="photo" src="assets/testimonial.png">
            <img class="qoute" src="assets/testimonial_qoute.png">

            <h1>Due markes</h1>
            <h2>Rental</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
          </div>
          <div class="shapes">
            <span class="shape-1"></span>
            <span class="shape-2"></span>
            <span class="shape-3"></span>
          </div>
        </div>

      </div>

    </div>

    <div class="contact-form">
      <div class="conact-design"> Contact Us</div>
      <div class="form">
        <p><input class="name" type="text" placeholder="Your Name"></p>
        <p><input class="email" type="email" placeholder="Email"></p>
        <p><input class="phone" type="text" placeholder="phone"></p>
        <p><input class="message" type="text" placeholder="Message"></p>

        <button class="submit_bt">Send</button>
        <div class="map">
          <p><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125042.3446474567!2d78.06825649627216!3d11.653726630724885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf1ccf52cba0b%3A0xee9989007068ca47!2sSalem%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1606200380469!5m2!1sen!2sin"
              width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe></p>

        </div>

      </div>

    </div>



    <footer>
      <div class="under-line"></div>
      <div class="last-heading">
        <h1>AVALON MOTORS</h1>
        <div class="main">
          <p class="subscribe">SUBSCRIBE</p>
          <input class="em" type="text" placeholder="Enter Your Email">
          <button class="sub-btn">Sumbit</button>
        </div>

        <div class="user-link">
          <p>USEFULL LINKS</p>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Our Cars</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Testimonial</a></li>
        </div>
      </div>

      <div class="con-det">
        <p>CONTACT DETAILS</p>
        <h3>AVALON car:Adderess</h3>
        <h5>Newyork 10012, USA
          Phone: +987 654 3210
          demo@gmail.com</h5>
          <div class="social">
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </div>
          <div class="social">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </div>
          <div class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </div>

      </div>

      
    </footer>


  </div>

</div>